/* Google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body {
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header section */

.header-contents {
    margin-top: 10px;
    width: 100%;
    min-height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.half-width-header {
    margin-left: 80px;
    width: 50%;
}

.header-detail h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.header-detail p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.header-btn {
    text-decoration: none;
    background: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    color: #FFFFFF;
}

.banner-img {
    width: 100%;
    transition: all .2s ease-in-out;
}

.banner-img:hover {
    transform: scale(1.1);
}

/* Player Section */
main {
    margin-top: 50px;
}

.player-container {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.sidebar {
    width: 30%;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 10px;
    color: #161616;
    text-align: center;
}

.player-items {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.player-item {
    width: 250px;
    min-height: 300px;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gainsboro;
}

.thumbnail img {
    width: 100%;
}

.player-btn {
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 3px;
    padding: 4px 8px;
    color: #161616;

}

.icon-player {
    display: flex;
    justify-content: space-between;
    color: #161616b3;
}

.view-btn {
    display: none;
    text-decoration: none;
    text-align: center;
    background-color: red;
    color: #FFFFFF;
    padding: 8px 12px;
}

/* Footer section */
footer {
    margin-top: 50px;
    width: 100%;
    height: 444px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-items h2 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.footer-items nav a {
    margin-left: 3px;
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
}

.footer-items p a {
    margin-left: 3px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}



/* Tablet View Responsive */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .header-contents {
        width: 100%;
        min-height: 800px;
    }

    .banner-img {
        width: 100%;
    }

    .sidebar {
        background: none;
        width: 100%;
        flex-direction: row;
    }

    .sidebar-btn {
        border: 2px solid gray;
    }

    .player-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .player-items {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 54px;
        grid-row-gap: 50px;
    }

    .thumbnail img {
        width: 100%;
    }

    .player-item {
        width: 100%;
    }

    .view-btn {
        display: block;
    }

    .footer {
        width: 100%;
    }

    .footer-items {
        flex-direction: column;
    }
}


/* Mobile View Responsive */
@media only screen and (max-width: 688px) {
    .header-contents {
        width: 100%;
        min-height: 646px;
        flex-direction: column;
    }

    .banner-img {
        margin-top: 50px;
        width: 90%;
    }

    .player-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sidebar {
        background: none;
    }

    .sidebar-btn {
        border: 2px solid gray;
    }

    .player-items {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .thumbnail img {
        width: 100%;
    }

    .player-item {
        width: 100%;
        margin-top: 180px;
    }

    .view-btn {
        display: none;
    }

    .nav-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}